
.home-page-container{
 width: 100vw;
 height: 100vh;
 margin: 0 7vh;
 display: flex;
 flex-direction: column;
 align-items: center;

}
.home-wrapper{
    max-width: 1000px;
}

.rand-product-container {
    display: flex;
    overflow-x: auto; /* Set overflow to horizontal */
    overflow-y: hidden; /* Hide vertical overflow */
    justify-content: flex-start; 
    width: 100%;
    margin-top: 10px;
    white-space: nowrap; /* Prevent items from wrapping */
}

.rand-product-container .product-list-item {
    flex: 0 0 calc(33.33% - 10px); 
    margin-right: 10px; 
    background-color: aquamarine;
    flex-shrink: 0; 
    overflow: hidden;
}
.rand-product-container .product-list-item img{
    width:10px;
}