.home-page-container {
    margin: 0 7vw; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-wrapper {
    width: 100%; 
}
.rand-product-container{
    height: 30vh;
    overflow: auto;
    white-space: nowrap;
    padding: 1%;
}


.rand-product-container  .home-rand-product {
    width: calc(33% - 8px);
    height: 99%;
    max-width: 250px; 
    margin-right: 8px; 
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.693);
    color: #000;
}
.home-rand-product p{
    
}

.rand-product-container .home-rand-product img {
    width: 10vw; 
    height: 50%;
    object-fit: contain;
} 
.first-home-product{
    display: flex;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.693);
}
.first-home-title{
    flex: 0 0 50%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.first-home-title h1{
    color: rgb(156, 197, 59);
}
.first-home-img{
    flex: 0 calc(50% - 5px);
    object-fit: contain;
    padding: 10px;

    height: 150%;
    text-align: center;
    height: 100%;
    width: 100%;
}
.first-home-img img{
    width: 70%;
    max-height: 250px;
}

.home-buy-now{
    border: 2px solid rgb(19, 211, 48);
    color: rgb(19, 211, 48);
    border-radius: 30px;
    padding: 4px;
    cursor: pointer;
    font-weight: 650;
    margin-top: auto;
    display: inline-block;
    width: 33%;
}
.home-buy-now:hover{
    background-color: rgb(19, 211, 48);
    color: #fff;
}
.home-title-desc{
    font-size: 0.8rem;
    text-align: left;
    font-weight: 500;
}
.home-star-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.7rem;
    font-weight: 600;
}
.top-pick{
    text-align: left;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 6px;

}
.week-offer{
    text-align: left;
    padding: 0 3%;
}
@media only screen and (max-width: 768px) {
 .home-page-container{
    margin: 2vw;
 }   
}
.home-all-products{
    text-align: right;
    display: block;
}
.home-all-products button{
    margin: 5px 3% 5px 0;
    border: 3px solid rgb(19, 211, 48);
    color: rgb(19, 211, 48);
    border-radius: 30px;
    padding: 4px;
    cursor: pointer;
    font-weight: 850;
    height: 40px;
    font-size: 1rem;
}
.home-all-products button:hover{
    color: #fff;
    background-color:  rgb(19, 211, 48);;
}