.privacy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px; 
}
  
.privacy-container div {
    text-align: left;
    max-width: 100%; 
}
.privacy-container span{
    
}