.product-view {
    margin: 8vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-view-container {
    display: flex;
    max-width: 1000px;
    
}

.product-img-container {
    flex: 0 0 30%;
    border: 1px solid green;
}
.info-container{
    flex: 0 0 70%;
    border: 1px solid green;

}

.product-view-container img {
    width: 100%;
    aspect-ratio: 1/1;
}
@media only screen and (max-width: 768px) {
    .product-img-container{
        flex: 0 0 100%; 
    }
    .info-container{
        flex: 0 0 100%; 
    }
    .product-view-container {
        display: flex;
        flex-direction: column;
    }
}

.product-back-btn{
    border: 2px solid rgb(49, 115, 181);
    color: rgb(49, 115, 181);
    border-radius: 30px;
    padding: 4px;
    cursor: pointer;
    font-weight: 650;
    /* margin-top: 15px; */
}
.product-back-btn:hover{
    background-color: rgb(211, 218, 224);
}
