.terms-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px; 
}
.terms-container div {
    text-align: left;
    max-width: 100%; 
}
.terms-container span{
    border: 2px solid rgb(49, 115, 181);
    color: rgb(49, 115, 181);
    border-radius: 30px;
    padding: 4px;
    cursor: pointer;
    font-weight: 650;
}
.terms-container span:hover{
    background-color: rgb(211, 218, 224);
}